.markdown-body {
  max-width: 860px;
  font-size: 16px;
  color: black;
  padding: 5px 20px;
  line-height: 1.6;
  word-spacing: 0px;
  letter-spacing: 0px;
  word-break: break-word;
  word-wrap: break-word;
  text-align: left;
  font-family: Optima-Regular, Optima, PingFangSC-light, PingFangTC-light,
    'PingFang SC', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.markdown-body p {
  font-size: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0;
  line-height: 26px;
  color: black;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  margin-top: 30px;
  margin-bottom: 15px;
  padding: 0px;
  font-weight: bold;
  color: black;
}
.markdown-body h1 {
  font-size: 2.5rem;
}
.markdown-body h2 {
  font-size: 2.1rem;
  border-bottom: 2px solid rgb(239, 112, 96);
}
.markdown-body h2 span {
  display: inline-block;
  font-weight: bold;
  background: rgb(239, 112, 96);
  color: #ffffff;
  padding: 5px 10px 1px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  margin-right: 0px;
}

.markdown-body h3 {
  font-size: 1.8rem;
}
.markdown-body h4 {
  font-size: 1.65rem;
}
.markdown-body h5 {
  font-size: 1.5rem;
}
.markdown-body h6 {
  font-size: 1.5rem;
}

.markdown-body ul,
.markdown-body ol {
  margin-top: 8px;
  margin-bottom: 8px;
  padding-left: 25px;
  color: black;
}
.markdown-body ul {
  list-style-type: disc;
}
.markdown-body ul ul {
  list-style-type: square;
}
.markdown-body ol {
  list-style-type: decimal;
}
.markdown-body li section {
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 26px;
  text-align: left;
  color: rgb(1, 1, 1);
  font-weight: 500;
}

.markdown-body blockquote {
  display: block;
  font-size: 0.9em;
  overflow: auto;
  overflow-scrolling: touch;
  border-left: 3px solid rgb(239, 112, 96);
  color: #6a737d;
  padding: 5px 10px 5px 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  background: #fff9f9;
}
.markdown-body blockquote p {
  margin: 0px;
  color: black;
  line-height: 26px;
}

.markdown-body a {
  text-decoration: none;
  word-wrap: break-word;
  font-weight: bold;
  border-bottom: 1px solid #1e6bb8;
  color: rgb(239, 112, 96);
  border-bottom: 0px solid rgb(239, 112, 96);
}

.markdown-body p code,
.markdown-body li code {
  font-size: 14px;
  word-wrap: break-word;
  padding: 2px 4px;
  border-radius: 4px;
  margin: 0 2px;
  color: rgb(239, 112, 96);
  background-color: rgba(27, 31, 35, 0.05);
  font-family: Operator Mono, Consolas, Monaco, Menlo, monospace;
  word-break: break-all;
}

.markdown-body img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.markdown-body span img {
  display: inline-block;
  border-right: 0px;
  border-left: 0px;
}

.markdown-body table {
  display: table;
  text-align: left;
}
.markdown-body tbody {
  border: 0;
}
.markdown-body table tr {
  border: 0;
  border-top: 1px solid #ccc;
  background-color: white;
}
.markdown-body table tr:nth-child(2n) {
  background-color: #f8f8f8;
}
.markdown-body table tr th,
.markdown-body table tr td {
  font-size: 16px;
  border: 1px solid #ccc;
  padding: 5px 10px;
  text-align: left;
}
.markdown-body table tr th {
  font-weight: bold;
  background-color: #f0f0f0;
}

.markdown-body span code,
.markdown-body li code {
  color: rgb(239, 112, 96);
}

.markdown-body mark {
  padding: 2px 4px;
  margin: 0 2px;
  font-weight: 500;
  color: #ffffff;
  background-color: rgb(239, 112, 96);
  border-radius: 2px;
  border-radius: 4px;
}
